<!doctype html>
<html lang="ko">
<%- include ('template/head') %>

<body class="text-center">
    <div class="cover-container d-flex w-100 h-50 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">Corona</h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link active" href="/">Home</a>
                    <a class="nav-link" href="/chart">Chart</a>
                    <a class="nav-link" href="/map">Map</a>
                    <a class="nav-link" href="/mask">Mask</a>
                </nav>
            </div>
        </header>

  <main role="main" class="inner cover">
    <div class="box">
      <p>대한민국 현황</p>
      <table border = "1">
        <thead>
          <tr>
            <th>확진자 </th>
            <th>사망자</th>
            <th>발생률</th>
            <th>전일대비 증가</th>
            <th>해외 유입</th>
            <th>국내 발생</th>
            <th>격리해제</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <span id="korea1" style="font-weight: bold;"></span>
            </td>
            <td>
              <span id="korea2" style="font-weight: bold;"></span>
            </td>
            <td>
              <span id="korea3" style="font-weight: bold;"></span>
            </td>
            <td>
              <span id="korea4" style="font-weight: bold;"></span>
            </td>
            <td>
              <span id="korea1_1_1" style="font-weight: bold;"></span>
            </td>
            <td>
              <span id="korea1_1_2" style="font-weight: bold;"></span>
            </td>
            <td>
              <span id="korea1_1" style="font-weight: bold;"></span>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
  </main>
</div>
<script>
  $.ajax({
            url: "/getCountryData",
            type: "get",
            dataType: "json",
            success: function (data) {
              var ddata=JSON.parse(data);

              document.getElementById("korea1").innerHTML=ddata.korea.totalCase;
              document.getElementById("korea1_1").innerHTML=ddata.korea.newCase;
              document.getElementById("korea2").innerHTML=ddata.korea.recovered;
              document.getElementById("korea3").innerHTML=ddata.korea.death;
              document.getElementById("korea4").innerHTML=ddata.korea.percentage;
              document.getElementById("korea1_1_1").innerHTML=ddata.korea.newFcase;
              document.getElementById("korea1_1_2").innerHTML=ddata.korea.newCcase;


            }
        });
</script>
</body>
</html>