<header class="masthead mb-auto">
    <div class="inner">
    <h3 class="masthead-brand">Corona</h3>
    <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link " href="/">Home</a>
        <a class="nav-link active" href="chart">Chart</a>
        <a class="nav-link" href="/map">Map</a>
        <a class="nav-link" href="/mask">Mask</a>
    </nav>
    </div>
</header>